*.tmp
session.*
forge-database-*
.DS_Store
auto-save-list
elpa
places
old
transient
forge-database.sqlite
.org-id-locations
eln-cache/
url/
elpy/
lisp/image-roll/
smex-items
chatgpt/
Bard.el/
.cache/
dall-e/
.chatgpt-shell.el
lisp/platform
request/
ellama-sessions/
projects
tramp
tree-sitter/
